snippet main "main function" b
int main(int argc, char* arbv[])
{
	$1
	return 0;
}
endsnippet

snippet class "class" b
class $1
{
public:
	$1($2);
	~$1();
};
endsnippet

snippet template "template" b
template<class ${1:T}>$0
endsnippet

snippet switch "switch" b
switch($1)
{
case $2:
	$3
	break;$4
}$0
endsnippet
