snippet struct "struct" bA
struct $1 {
	$0
};
endsnippet

snippet class "class" bA
class $1 {
   public:
    $1($0) {}
    ~$1() {}
};
endsnippet

snippet main "main functin" b
int main() {
	$0
	return 0;
}
endsnippet
