snippet lang "LANGUAGE" b
{-# LANGUAGE $1 #-}$0
endsnippet

snippet import "import qualified" b
import qualified $1 as $2
endsnippet

snippet main "main function" b
main :: IO ()
main = $1
endsnippet

snippet module "module" b
module ${1:`!v expand("%:t:r")`}${2: ( $3
       ${1/./ /g} ) }where

$0
endsnippet

snippet tododef "TODO Function" b
-- | TODO
${1:func} = undefined$0
endsnippet
