snippet mK "Math block" bA
$$
$1
$$$0
endsnippet

snippet mk "Math" wA
$$1$$0
endsnippet

snippet setup-ru "Basic beamer template" b
---
title:
- $1
author:
- Виногродский Серафим
${2:
theme:
- Amsterdam}
fontsize: 12pt


header-includes:
- \usepackage[T2A]{fontenc}
- \usepackage[utf8]{inputenc}
- \usepackage[russian]{babel}
...
endsnippet


snippet setup-en "Basic beamer template" b
---
title:
- $1
author:
- Vinogrodskiy Serafim
${2:
theme:
- Amsterdam}
fontsize: 12pt
...
endsnippet
