snippet prn "println!" w
println!("{}", $1);
endsnippet

snippet pr "print!" w
print!("{}", $1);
endsnippet

snippet todo "TODO" w
panic!("TODO")
endsnippet

snippet main "main function" b
use std::error::Error;

fn main() -> Result<(), Box<dyn Error>> {
	$0
	Ok(())
}
endsnippet

snippet tests "tests block" b
#[cfg(test)]
mod tests {
	use super::*;

	$0
}
endsnippet
