snippet tbl "table template" b
drop table if exists $1;
create table if not exists $1(
	$0${VISUAL}
);
endsnippet

snippet sec "Section comment" b
---`!p snip.rv = '-' * len(t[1])`---
-- ${1:${VISUAL}} --
---`!p snip.rv = '-' * len(t[1])`---$0
endsnippet
